//primary colors

$color-primary:#37474f;
$color-primary-light:#62727b;
$color-primary-dark:#102027;

//secondary colors

$color-secondary:#00838f;
$color-secondary-light:#4fb3bf;
$color-secondary-dark:#005662;

//font-family 

$heading-font: 'Lora', serif;
$content-font:'Open Sans', sans-serif;;

